/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: #282828;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #6996A0;
  margin: 30px 0px;
}
@media screen and (max-width: 390px) {
  h1 {
    margin: 20px 0;
    letter-spacing: 0.07rem;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #6996A0;
  margin: 6px 0px;
}

.products {
  width: 100%;
  height: 82px;
  background-color: #78BEC8;
  display: flex;
}
.products ul {
  display: flex;
}
.products li {
  width: 120px;
  height: 50px;
}
.products a {
  color: white;
  display: block;
}
.products img {
  width: 154px;
}

.example_wrapper {
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
}
.example_wrapper h6 {
  color: darkblue;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.example_wrapper h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px;
}
.example_wrapper span {
  color: red;
}
.example_wrapper h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #6996A0;
  margin: 40px 0px;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media screen and (max-width: 390px) {
  .example_wrapper h1 {
    margin: 20px 0;
    letter-spacing: 0.07rem;
  }
}
.example_wrapper h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #6996A0;
  margin: 6px 0px;
}
.example_wrapper p {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px;
}
.example_wrapper .btn_amount {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 18px;
  width: 24px;
  height: 24px;
  color: #6996A0;
  background-color: white;
  border: 1px solid #6996A0;
  border-radius: 6px;
  margin: 4px 8px 10px;
  transition: 0.1s all ease;
}
.example_wrapper .btn_amount:hover {
  background-color: #9ccfd7;
  color: #496c73;
  border-color: #496c73;
}
.example_wrapper .btn_L {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  height: 60px;
  letter-spacing: 0.1rem;
  background-color: #78BEC8;
  border-radius: 12px;
  margin: 20px auto;
  display: block;
  display: inline-block;
  cursor: default;
}
.example_wrapper .btn_L:hover {
  background-color: #46a0ad;
}
@media screen and (max-width: 390px) {
  .example_wrapper .btn_L {
    font-size: 16px;
    font-weight: 500;
    width: 256px;
    height: 40px;
    border-radius: 8px;
  }
}
.example_wrapper .btn_yellow {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 20px;
  font-weight: 500;
  width: 366px;
  height: 60px;
  letter-spacing: 0.1rem;
  background-color: #FFC107;
  border-radius: 12px;
  margin: 20px auto;
  display: block;
  display: inline-block;
}
.example_wrapper .btn_yellow:hover {
  background-color: #F5AF00;
}
@media screen and (max-width: 390px) {
  .example_wrapper .btn_yellow {
    color: white;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: 0.3s all ease;
    width: 324px;
    height: 44px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
  }
}
.example_wrapper .btn_M {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 20px;
  font-weight: 400;
  width: 104px;
  height: 40px;
  letter-spacing: 0.05rem;
  background-color: #78BEC8;
  border-radius: 8px;
}
.example_wrapper .btn_M:hover {
  background-color: #46a0ad;
}
.example_wrapper .btn_bs_M {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  height: 40px;
  letter-spacing: 0.1rem;
  background-color: #6996A0;
  border-radius: 4px;
}
.example_wrapper .btn_bs_M:hover {
  background-color: #537a83;
}
.example_wrapper .btn_bs_S {
  color: white;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: 0.3s all ease;
  font-size: 14px;
  font-weight: 400;
  width: 98px;
  height: 24px;
  letter-spacing: 0.05rem;
  background-color: #6996A0;
  border-radius: 4px;
}
.example_wrapper .btn_bs_S:hover {
  background-color: #537a83;
}
.example_wrapper .tag_S {
  color: white;
  background-color: #FFC107;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 0;
  border-radius: 20px;
  width: 80px;
  height: 28px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin: 16px 0;
  display: inline-block;
}
@media screen and (max-width: 390px) {
  .example_wrapper .tag_S {
    margin: 12px 0;
  }
}
.example_wrapper .tag_M {
  color: white;
  background-color: #FFC107;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 0;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease;
}
.example_wrapper .tag_M:hover {
  background-color: #F5AF00;
}
.example_wrapper a {
  text-decoration: none;
  color: #78BEC8;
  transition: 0.3s all ease;
}
.example_wrapper a:hover {
  color: #46a0ad;
}
.example_wrapper .SS {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #6996A0;
  border-radius: 4px;
  color: #282828;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../../image/pic/icon/select_rightM.svg) no-repeat scroll right center transparent;
  width: 64px;
  height: 24px;
  padding-left: 6px;
  background: url(../../../image/pic/icon/select_rightS.svg) no-repeat scroll right center transparent;
}
.example_wrapper .SM {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #6996A0;
  border-radius: 4px;
  color: #282828;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../../image/pic/icon/select_rightM.svg) no-repeat scroll right center transparent;
  width: 80px;
  height: 26px;
  padding-left: 8px;
  background: url(../../../image/pic/icon/select_rightM.svg) no-repeat scroll right center transparent;
}
.example_wrapper .SL {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #6996A0;
  border-radius: 4px;
  color: #282828;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../../image/pic/icon/select_rightM.svg) no-repeat scroll right center transparent;
  width: 120px;
  height: 30px;
  padding-left: 8px;
  background: url(../../../image/pic/icon/select_rightL.svg) no-repeat scroll right center transparent;
}
.example_wrapper .input_L {
  color: #282828;
  border: 1px solid #6996A0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  width: 400px;
  height: 60px;
  border-radius: 12px;
  padding-left: 20px;
  display: block;
  display: inline-block;
}
@media screen and (max-width: 390px) {
  .example_wrapper .input_L {
    width: 256px;
    height: 38px;
  }
}
.example_wrapper .input_M {
  color: #282828;
  border: 1px solid #6996A0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  width: 362px;
  height: 32px;
  padding-left: 16px;
}
.example_wrapper .input_S {
  color: #282828;
  border: 1px solid #6996A0;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  width: 154px;
  height: 26px;
  border-radius: 4px;
  padding-left: 12px;
}
.example_wrapper input[type=checkbox] {
  width: 30px;
  height: 30px;
  border: 1px solid #6996A0;
  border-radius: 4px;
  cursor: pointer;
}
.example_wrapper input[type=radio] {
  width: 20px;
  height: 20px;
  border: 1px solid #6996A0;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */