// $margin: 10px 20px 10px 30px; // list
$null: null;

// 斷點
$r1200: 1240px;
$r1100: 1100px;
$r1000: 1000px;
$r900: 900px;
$r800: 800px;
$r700: 700px;
$r600: 600px;
$r500 : 500px;
$m : 430px;

// border-r
// $borderRadius: (
// bs: 4px,

// )