.backend-main{
  display: grid;
  grid-template-columns: 20% 80% ;
  background-color: $bgc_bs;

  .sidebar{
    height: auto;
    background-color: $color1;
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .sidebar ul{
    margin-top: 70px;
  }
  .sidebar i{
    margin-right: 10px;
    margin-left: 10px;
  }
  .sidebar-btn{
    @include font_h2();
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    
  }
  .sidebar-btn:hover{
    background-color: $color2;
  }

  .sidebar-btn-container{
    display: flex;
    flex-direction: column;
  }

  .sidebar-btn-container a:active{
    color: white;
  }
  .backend-logout{
    margin-top: 60px;
    margin-left: 20px;
  }
  .backend-logout p{
    @include font_t1();
    align-self: flex-end;
    color: white;
    cursor: pointer;
  }
  .backend-table-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    
  }
  .backend-table-container h1{
    @include font_h1();
    color: $color2;
  }
  .backend-input-container{
    width: 960px;
    display: flex;
    justify-content: right;
    margin-bottom: 12px;
  }
  .backend-input-container input{
    @include input_S();
  }
  .backend-input-container button{
    margin-left: 4px;
    background-color: $color2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 21px;
    cursor: pointer;
    &:hover {
          background-color: darken($color2, 10);
      }
  }
  .backend-info-table{
    @include font_t1();
    border-collapse: collapse;
    width: 960px;
    text-align: center;
    align-items: center;
  }
  .backend-info-table thead{
    background-color: $color2;
    color: white;
    height: 54px;
    border:1px solid $color2;
    line-height: 54px;


  }
  .backend-info-table tbody tr{
    height: 54px;
    border:1px solid $color2;
    line-height: 54px;
    background-color: $white;

  }
  .backend-info-table tbody td button{
    @include btn_bs_S();
  }

} // backend-main

// 隱藏header footer
.page-backendInfo header,.page-backendInfo footer{
  display: none;
}

// 當頁sidebar-btn改色
.page-backendInfo .sidebar-btn-container{
    li:nth-child(4){
        background-color: $color2;
    }
}