// @import "../../style.scss";

.cart{
  position: relative;
  overflow: hidden;

  main{
    max-width: 1040px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 60px;
    
    
    .lightbox{
      // width: 395px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.8);
      z-index: 3;
      .lightbox_inner{
        width: 500px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 50px 0 0;
        border-radius: 10px;
        // .close{
        //   position: absolute;
        //   right: -20px;
        //   top: -20px;

        // }
        h3{
          margin-top: 10px;
        }
        button{
          @include btn_L();
          margin-bottom: 30px;
          // margin-top: 30px;
        }
      }
    }
  }
  .info{
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    justify-content: space-between;
  }
  .cart_list_banner{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-bottom: 1px solid $color2;
  
  }
  .order_list ul{
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  
  .order_list_text span{
    @include font_t1();
  }
  .order_list_text p{
    @include font_t2();
    .add{
      @include font_t2();
    }
  }
  .order_list_text > span,
  .order_list_text > p{
    margin-left: 25px;
  }

  .button .minus,
  .button .plus{
    @include btn_amount();
  }
  .button {
    margin-left: 17px;
  }
  .order_list_r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .order_list_r img{
    margin-top: 50px;
    // margin-left: 40px;
    cursor: pointer;
    transition: .2s all ease;
    &:hover{
      filter: brightness(120%);
    }
  }
  .order_list_r div{
    @include font_t1();
    margin-top: 18px;
    margin-left: 4px;
  }
  .count{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .add_cart{
    @include btn_M();
    padding: 0;
  }
  .add_cart_text{
    line-height: 40px;
  }
  .add_cart_text .amount{
    margin-right: 10px;
  }
  .write_info{
    width: 420px;
  }
  .write_info > h2{
    margin-bottom: 45px;
  }
  .lable_name{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
   
   
  }
  .lable_name:last-child{
    margin-bottom: 0;
  }
  .lable_name h2{
    @include font_t1();
    color: $black;
    margin-right: 10px;
    margin-top: 3px;
  }
  .lable_name input{
    @include input_M();
    margin-right: 5px;
  }
  .lable_name input::placeholder{
    color: $grey1;
  }
  .lable_name .radio{
    @include radio();
    width: 20px;
    height: 20px;
    // margin-top: 5px;
  }
  #linePay{
    margin-left: 20px;
  }
  .creditcard{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $grey2;
  }
  .creditcard_1{
    display: flex;
    margin-bottom: 20px;
  }
  .creditnum{
    margin-right: 15px;
  }
  
  .creditcard_text input{
    width: 50px;
    margin-right: 10px;
    text-align: center;
  }
  .creditcard_text input:last-child{
    margin-right: 0;
  }
  .creditcard input::placeholder{
    color: $grey1;
    font-size: 10px;
  }
  .creditcard_text .date{
    margin-left: 14px;
  }
  .creditcard_1:last-child{
    margin-bottom: 0;
  }
  .write_info button{
    @include btn_yellow();
    width: 100%;
    margin-top: 50px;
  }
  .write_info .no_item{
    background-color: $grey1;
    cursor: default;
      &:hover{
        background-color: $grey1;
    }

  }
}


@media screen and (max-width: 920px){
  .cart .info{
    width: 95%;
  }
  .confirm_info,
  .confirm_info h2,
  .cart .cart_list_banner,
  .cart .write_info,
  .cart .creditcard{
    width: 95%;
    margin: auto;
  }

  .cart .count{
    width: 95%;
    margin: 30px auto 0;
  }
  .cart .write_info > h2{
    width: 95%;
    margin: 35px auto 45px;
  }
  .cart .lable_name{
    width: 95%;
    margin: 0 auto 40px;
  }
  .cart .lable_name h2{
    width: 50px;
  }
  .cart .lable_name .paymethod{
    width: 120px;
  }
  .cart .lable_name .linepay{
    width: 80px;
  }
  .cart .lable_name .credit{
    width: 90px;
  }
  .cart .lable_name .radio{
    margin-right: 10px;
  }
  .cart .write_info button{
    width: 95%;
  }
  .cart .lable_name input{
    width: 95%;
  }
  .cart .creditcard_text input{
    width: 20%;
  }
  .cart .creditcard_1{
    width: 100%;
  }
  .cart .creditnum{
    width: 120px;
  }
  .creditcard_text{
    width: 100%;
  }
  .creditcard .creditcard_1:nth-child(2) .creditnum{
    margin-right: -2px;
  }
}

@media screen and (max-width: 530px){
  .cart .lable_name .paymethod{
    width: 140px;
  }
  .cart .lable_name .credit{
    width: 100px;
  }
  .cart .creditcard_text input{
    width: 20%;
    margin-right: 4px;
  }
 
}
@media screen and (max-width: 430px){
  .cart .button .minus, .cart .button .plus{
    margin: 0;
  }
  .cart .button .minus{
    margin-left: 26px;
  }
  .cart .confirm_info button ~ span{
    margin: 0 10px;
    font-size: 14px;
  }
  .cart .add_cart_text .amount{
    font-size: 14px;
  }
  .cart .add_cart_text .amount ~ span{
    font-size: 14px;
  }
  .cart .add_cart{
    font-size: 16px;
  }
  .cart .order_list_r div{
    font-size: 14px;
  }
  .cart .order_list_text span{
    font-size: 15px;
  }
  .cart .lable_name .credit{
    width: 120px;
  }
  .cart .lable_name .paymethod{
    width: 200px;
  }
 
  .cart .creditnum{
    font-size: 14px;
    margin-right: 0;
  }
  .cart .creditcard_text .date{
    margin-left: 0;
  }
  .cart .creditcard{
    padding: 10px;
  }
  .cart .creditcard_text input{
    margin-right: 2px;
  }
  
}
@media screen and (max-width: 386px){
  .cart .lable_name .credit{
    
    margin-right: 0;
    width: 126px;
  }

  .cart .lable_name .paymethod{
    margin-right: 0;
  }
  .cart .creditcard_text input:last-child{
    width: 21%;
  }
  .cart .lable_name:last-child{
    margin: 0;
  }
}




