
  
.cart{
  .card_slide{
    width: 440px;
    height: 100vh;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -450px;
    transition: all linear .5s;
    .lightbox{
      // width: 395px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.8);
      z-index: 3;
      .alertText{
        width: 300px;
        height: 250px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .text_1{
          margin-top: 70px;
        }
        h4{
          text-align: center;
          
        }
        button{
          @include btn_M();
          display: block;
          margin: 30px auto;

          
        }

      }
    }
    .close_slide{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $color2;
      color: #fff;
      border-style: none;
      font-size: 16px;
      position: absolute;
      right: 20px;
      top: 20px;
      padding: 0;
      cursor: pointer;
      transition: .2s all ease;
      &:hover{
       background-color: darken($color2, 10);
      }
    }
    
    .cart{
      text-align: center;
      margin: auto;
      margin-top: 50px;
      max-width: 410px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color2;
    }
    // .empty_box{
    //   width: 365px;
    //   height: 50vh;
    //   background-color: aquamarine;
    // }
    
   
    .empty{
      height: 50vh;
      position: relative;
      max-width: 410px;
      // background-color: aquamarine;
      img{
        width: 60px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        
        
      }
      .empty_cart{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h4{
        text-align: center;
      }
    }
    .container{
      max-width: 410px;
      height: 50vh;
      margin: auto;
      overflow-y: auto;
      
    }

    
    ul{
      // width: 365px;
      display: flex;

      // justify-content: center;
      padding-bottom: 5px;
      border-bottom: 1px dashed $color2;
      margin: 20px auto 0px;
   
      
    }
    .product_r{
      width: 300px;
      margin-left: 17px;
    }
    h3{
      background-color: $color1;
      color: #fff;
      height: 26px;
      padding-left: 12px;
      box-sizing: border-box;
      border-radius: 0 8px 0 8px;
      
    }
    .inner{
      display: flex;
      justify-content: space-between;
    }
    select {
      @include select_S();
    }
    .size,.sweet{
      margin-top: 10px;
    }
    .ice,.add{
      margin-top: 9px;
    }
    .sweet,.add{
      margin-left: 12px;
    }
    span{
     color: red ;
   }
   .minus,.plus{
    @include btn_amount();
    margin: 0;
   }
   .num{
    color: $black;
    margin: 0 16px;
   }
   .button{
    margin-top: 9px;
    text-align: right;
    .dollor{
      @include font_t1();
      color: $black;
      span{
        color: $black;
      }
    }
   }
   .button_2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    img{
      padding-bottom: 20px;
      cursor: pointer;
      transition: .2s all ease;
      &:hover{
        filter: brightness(120%);
      }
    }
   }
   .line{
    max-width: 410px;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid $color2;
  }
  }
  .on{
    right: 0;
  }
  .clearall,.total{
    display: flex;
    margin: 27px auto;
    align-items: center;
    justify-content: space-between;
    width: 410px;
  }
  .clear_cart{
    @include btn_M();
    width: 120px;
    padding: 0;
    font-size: 18px;
    @include r800{
      letter-spacing: normal;
    }
  }
  .pay{
    @include btn_yellow();
    width: 410px;
  }
  .disabled{
    background-color: $grey1;
    cursor: default;
    &:hover{
      background-color: $grey1;
    }
  }

}

@media screen and (max-width: 430px){
  .cart .card_slide{
    // max-width: 430px;
    width: 100%;
  }
  .cart .card_slide .container,
  .cart .card_slide .cart,
  .cart .card_slide .line,
  .cart .clearall,
  .cart .total,
  .cart .pay{
    // max-width: 400px;
    // max-width: 380px;
    width: 90%;
  }
  .container li > img{
    width: 80px;
  }
  .cart .card_slide select{
    width: 60px;
  }
  
  .cart .card_slide .num,
  .cart .card_slide .button .dollor{
    font-size: 14px;
  }
  .cart .card_slide .num {
    margin: 0 8px;
  }
  .cart .card_slide .plus,
  .cart .card_slide .minus {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  .cart .button{
    margin-left: 0;
  }
  .cart .card_slide .button_2 img{
    width: 15px;
  }
  .cart .card_slide h3{
    height: 25px;
  }
  .cart .card_slide select{
    height: 21px;
  }
  .cart .card_slide .product_r{
    margin-left: 10px;
  }
  .cart .card_slide .sweet,
  .cart .card_slide .add{
    margin-left: 7px;
  }
  .cart .card_slide .product_r{
    max-width: 300px;
  }

}
// @media screen and (max-width: 390px){
//   .cart .card_slide{
//     width: 390px;
//   }
//   .cart .card_slide .container,
//   .cart .clearall,
//   .cart .card_slide .cart,
//   .cart .total,
//   .cart .card_slide .line
//   {
//     width: 380px;
//   }
  
// .cart .card_slide ul{
//   // align-items: center;
//   padding: 0 5px;
//   box-sizing: border-box;
// }
// .cart .card_slide .button .dollor,
// .cart .card_slide .num{
//   font-size: 14px;
// }

// .cart .card_slide .button .dollor{
//   margin-left: 2px;
// }
 
// .cart .card_slide .product_r{
//   width: 280px;
// }

// .cart .card_slide select{
//   width: 60px;
// }
// .cart .card_slide .button_2{
//   justify-content: space-between;
// }
// .cart .card_slide .button_2 img{
//   width: 17px;
// }
// .cart .card_slide .lightbox .alertText{
//   width: 275px;
//   height: 200px;
// }
// .cart .card_slide .lightbox .alertText .text_1{
//   margin-top: 40px;
// }
// .cart .card_slide .lightbox .alertText button{
//   height: 35px;
// }
// .cart .pay{
//   width: 380px;
// }
// }