// @import "../../style.scss";

.cart{
  position: relative;
  overflow: hidden;

  main{
    max-width: 1040px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 60px;
    
    
    .lightbox{
      // width: 395px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.8);
      z-index: 3;
      .lightbox_inner{
        width: 500px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 50px 0 0;
        border-radius: 10px;
        // .close{
        //   position: absolute;
        //   right: -20px;
        //   top: -20px;

        // }
        h3{
          margin-top: 10px;
        }
        button{
          @include btn_L();
          margin-bottom: 30px;
          // margin-top: 30px;
        }
      }
    }
  }
  .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cart_list_banner{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-bottom: 1px solid $color2;
  
  }
  .order_list ul{
    display: flex;
    padding: 30px 0;
  }
  
  .order_list_text span{
    @include font_t1();
  }
  .order_list_text p{
    @include font_t2();
    .add{
      @include font_t2();
    }
  }
  .order_list_text > span,
  .order_list_text > p{
    margin-left: 25px;
  }
  .button .minus,
  .button .plus{
    @include btn_amount();
  }
  .button {
    margin-left: 17px;
  }
  .order_list_r img{
    margin-top: 35px;
    margin-left: 40px;
    cursor: pointer;
  }
  .order_list_r div{
    @include font_t1();
    margin-top: 18px;
    margin-left: 4px;
  }
  .count{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .add_cart{
    @include btn_M();
  }
  .add_cart_text{
    line-height: 40px;
  }
  .add_cart_text .amount{
    margin-right: 10px;
  }
  .write_info{
    width: 420px;
  }
  .write_info > h2{
    margin-bottom: 45px;
  }
  .lable_name{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
   
   
  }
  .lable_name:last-child{
    margin-bottom: 0;
  }
  .lable_name h2{
    @include font_t1();
    color: $black;
    margin-right: 10px;
    margin-top: 3px;
  }
  .lable_name input{
    @include input_M();
    margin-right: 5px;
  }
  .lable_name input::placeholder{
    color: $grey1;
  }
  .lable_name .radio{
    @include radio();
    // margin-top: 5px;
  }
  #linePay{
    margin-left: 20px;
  }
  .creditcard{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $grey2;
  }
  .creditcard_1{
    display: flex;
    margin-bottom: 20px;
  }
  .creditnum{
    margin-right: 15px;
  }
  
  .creditcard_text input{
    width: 50px;
    margin-right: 10px;
    text-align: center;
  }
  .creditcard_text input:last-child{
    margin-right: 0;
  }
  .creditcard input::placeholder{
    color: $grey1;
    font-size: 10px;
  }
  .creditcard_text .date{
    margin-left: 17px;
  }
  .creditcard_1:last-child{
    margin-bottom: 0;
  }
  .write_info button{
    @include btn_yellow();
    width: 100%;
    margin-top: 50px;
  }

}




