.forget{
    width: 1200px;
    height: calc(100vh - 300px);
    margin: 0 auto;
    @include m() {
        width:390px;
    }
}
.forget_content{
    width:600px;
    height:320px;
    background-color: $grey2;
    margin:180px auto 80px;
    border-radius: 40px;
    border: 1px solid white;
    @include m() {
        width:320px;
        height: 260px;
        border-radius: 24px;
    }

    form{
        width:400px;
        margin: 0 auto;
        @include m() {
            width:320px;
        }
    }
    
    h1{
        width:140px;
       margin:40px   auto 20px;    
        @include m{
            margin-bottom: 10px;
        }
    }
    label{
    //    width:140px;
       margin: 10px  auto 5px;
       text-align: center;
       line-height: 2;
       @include m{
        margin-left: 34px;
       }
    }
    input{
        
        @include input_L();
        margin:5px auto;
    }
    button{
        margin: 0 auto;
        @include btn_L();  
        
    }
   
}