.index_wrapper{
    overflow: hidden;
    position: relative;
    
    h1{
        margin: 80px auto;
        color: $white;
           @include m(){
                @include font_h2();
                color: $white; 
                text-align: center;
                margin: 20px auto;
            }
    }

    h2{
        color: $white;
        @include r900{
            font-size: 18px;
            letter-spacing: .08rem;
        }
        @include m(){
            @include font_t1(); //16px 400
            letter-spacing: normal;
        }
    }
    p{
        color: $white;
        @include r900{
            font-size: 15px;
        }
        @include m(){
            @include font_t2();
            font-weight: 300;
        }
    }
    img{
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }

    // ===== banner ====
    .banner{
        height: 852px;
        // height: 100vh;
        overflow: hidden;
        position: relative;
        // width: 100%;
        z-index: -998;
        background-image: radial-gradient(circle farthest-corner at left 20% top 15%, rgb(189, 226, 230) 10%, #78BEC8 40%, rgb(86, 157, 177) 100%);
        @include r1100{
            height: 94vh;
        }
        @include m(){
            height: 664px;
        }
        .text_move1{
            position: absolute;
            top: 180px;
            z-index: -1;
            color:rgba( 0, 0, 0, 0);
            opacity: .15;
            animation: text_move1 10s linear infinite;
            @include r1100{
                width: 60vw;
            }
            @include m(){
                top: 130px;
                animation: text_move1m 7s linear infinite;
            }
            @keyframes text_move1{
                0%{
                    left: -80%;
                }
                100%{
                    left: 180%;
                }
            }
            @keyframes text_move1m{
                0%{
                    left: -220%;
                }
                100%{
                    left: 220%;
                }
            }
        }
        .text_move2{
            position: absolute;
            bottom: 0px;
            right: -80%;
            width: 1000px;
            z-index: 4;
            color:rgba( 0, 0, 0, 0);
            opacity: .2;
            animation: text_move2 10s linear 1s infinite;
            @include r1100{
                width: 60vw;
            }
            @include m(){
                bottom: -2px;
                width: 420px;
                animation: text_move2m 7s linear infinite;
            }
            @keyframes text_move2{
                0%{
                    right: -80%;
                }
                100%{
                    right: 180%;
                }
                
            }
            @keyframes text_move2m{
                0%{
                    right: -220%;
                }
                100%{
                    right: 220%;
                }
                
            }
        }
        .table{
            z-index: 1;
            position: absolute;
            bottom: 0px;
            background: radial-gradient(circle farthest-corner at left 15% top 5%, #9ad1dc 0%, #76bcc7 35%, #4a9cb0 90%);
            height: 49%;
            width: 100%;
            filter: blur(.12vw);
            background-size:contain;
            @include r900(){
                height: 57%;
                border-radius: 100% 0% 0 0/80% 60%;
            }
        }
        .curve_b1{
            width: 360px;
            position: absolute;
            right: 0px;
            top: 0%;
            // z-index: 1;
            @include r1100{
                width: 30vw;
            }
            @include r700{
                width: 40vw;
            }
            @include m(){
                width: 180px;
            }
        }
        .curve_b2{
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: 2;
            @include r1200{
                width: 6%;
            }
            @include m(){
                width: 34px;
            }
        }
        .arched_door{
            z-index: 1;
            position: absolute;
            bottom: 24%;
            right: 0;
            filter: blur(.05vw);
            @include r1100{
                width: 36vw;
                 right: -6%;
            }
            @include r900{
                bottom: 36%;
            }
            @include r700{
                bottom: 40%;
            }
            @include m(){
                width: 40%;
                bottom: 48%;
                right: -8%;
                filter: blur(.2vw);
            }
        }

        // 飲料包在內
        .container{
            // border: 1px solid green;
            height: 100%;
            width: 1200px;
            position: relative;
            box-sizing: border-box;
            margin: 0 auto;
            @include r1200(){
                width: auto;
                margin: 0 40px;
            }
            @include m(){
                margin: 0 30px;
            }
            
            .boisson_gradient{ // BOISSON
                width: 686px;
                margin-top: 140px;
                z-index: 2;
                opacity: 0;
                animation: beverage 1s ease-out 1s forwards 1;
                @include r1100{
                    width: 58vw;
                }
                @include m(){
                    // filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
                    width: 220px;
                }
            }
            p{
                font-size: 18px;
                opacity: 0;
                animation: beverage 1.5s ease-out 1.2s forwards 1;
                @include r700{
                    font-size: 14px;
                }
                @include r600{
                    width: 68%;
                }
                @include m(){
                    width: 230px;
                }
            }
            .leaf1{
                position: absolute;
                width: 12%;
                z-index: 3;
                top: -20%;
                left: -20%;
                animation: leaf1 8s ease-out 1.8s backwards infinite;
            }
            @keyframes leaf1{
                0%{
                    top: -20%;
                    left: -20%;
                    transform: rotate(0deg);
                    opacity: 1;
                    scale: .9;
                    filter: blur(.3vw);
                }
                20%{
                    opacity: .6;
                    scale: 1.2;
                    filter: blur(.35vw);
                     
                }
                40%{
                    top: 110%;
                    left: 120%;
                    transform: rotate(310deg);
                    opacity: 1;
                    scale: 1;
                    filter: blur(.3vw);
                }
                100%{
                top: 350%;
                left: 350%;
                }
            }
            .leaf2{
                position: absolute;
                width: 9%;
                z-index: 3;
                top: -15%;
                left: -40%;
                animation: leaf2 7.5s ease-out 2.3s backwards infinite;
            }
            @keyframes leaf2{
                0%{
                    top: -15%;
                    left: -40%;
                    transform: rotate(40deg);
                    opacity: 1;
                    scale: .9;
                    filter: blur(.15vw);
                }
                20%{
                    opacity: .7;
                    scale: 1.4;
                    filter: blur(.25vw);
                }
                40%{
                    top: 110%;
                    left: 60%;
                    transform: rotate(-280deg);
                    opacity: 1;
                    scale: 1;
                    filter: blur(.15vw);
                }100%{
                top: 350%;
                left: 350%;
                }
            }
            .leaf3{
                position: absolute;
                width: 5%;
                z-index: -1;
                top: -15%;
                left: 35%;
                animation: leaf3 8.8s ease-out 2.8s backwards infinite;
            }
            @keyframes leaf3{
                0%{
                    top: -15%;
                    left: 35%;
                    transform: rotate(20deg);
                    opacity: 1;
                    scale: .9;
                    filter: blur(.05vw);
                }
                20%{
                    opacity: .7;
                    scale: 1.4;
                    filter: blur(.04vw);
                }
                40%{
                    top: 110%;
                    left: 150%;
                    transform: rotate(-350deg);
                    opacity: 1;
                    scale: 1;
                    filter: blur(.05vw);
                }100%{
                top: 350%;
                left: 350%;
                }
            }
            .ball1{
                position: absolute;
                bottom: 10%;
                right: -7%;
                z-index: 2;
                @include r900{
                    width: 10%;
                    bottom: 24%;
                    right: -5%;
                }
                @include m(){
                    width: 35px;
                    bottom: 22%;
                    right: -10%;
                }
            }
            .ball2{
                position: absolute;
                bottom: 40%;
                left: -10%;
                z-index: 2;
                filter: blur(1px);
                @include r900(){
                    display: none;
                }
            }
            .fan{
                position: absolute;
                bottom: -12%;
                left: -21%;
                z-index: -2;
                filter: blur(.1vw);
                animation: fan 20s linear 1.25s backwards infinite;
                @include r1100{
                    left: -30vw;
                    width: 84vw;
                    top: 7%;
                }
                @include r900{
                    top: 15%;
                    left: -36%;
                    filter: blur(.2vw);
                }
                @include r800{
                    top: 20%;
                }
                @include r700{
                    top: 24%;
                }
                @include r500{
                    top: 28%;
                }
                @include m(){
                    width: 110%;
                    top: 27%;
                    left: -43%;
                }
                @keyframes fan{
                    0%{
                        transform:rotate(0deg);
                    }
                    100%{
                        transform:rotate(360deg);
                    }
                }
            }
            .beverage{
                position: absolute;
                z-index: 3;
                opacity: 0;
                // transition: .5s all ease;
                @include r1200{
                    width: 30vw;
                }
                @include r700{
                    width: 36vw;
                }
                @include r600{
                    width: 39vw;
                }
            }
            .beverage1{
                left: 1%;
                bottom: 3%;
                animation: beverage 1.7s ease-out .0s forwards 1;
                @include r900{
                    left: 5%;
                    bottom: 6%;
                }
                @include m(){
                    left: 1%;
                    width: 50%;
                    bottom: 8%;
                }
            }
            .beverage2{
                left: 26%;
                bottom: 14%;
                animation: beverage 1.2s ease-out .2s forwards 1;
                @include r900{
                    left: 28%;
                    bottom: 22%;
                }
                @include m(){
                    width: 53%;
                    bottom: 26%;
                }
            }
            .beverage3{
                right: 15%;
                bottom: 19%;
                animation: beverage 1s ease-out .1s forwards 1;
                @include r900{
                    right: 12%;
                    bottom: 34%;
                    width: 31vw;
                }
                @include r700{
                    right: 6%;
                }
                @include r600{
                    width: 36vw;
                }
                @include r500{
                    right: 5%;
                }
                @include m(){
                    width: 48%;
                    right: -11%;
                    bottom: 35%;
                }
            }
            .beverage4{
                right: -8%;
                bottom: -5%;
                animation: beverage 1.3s ease-out .35s forwards 1;
                @include r1200{
                    width: 36vw;
                }
                 @include r900{
                    bottom: 3%;
                }
                @include r600{
                    width: 45vw;
                }
                @include m(){
                    width: 58%;
                    bottom: 1%;
                    right: -16%;
                }
            }
            @keyframes beverage{
                0%{
                    transform: translate(0px , -20%); 
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                    transform: translate(0px , 0%); 
                }
            }
        } // container
    } // banner

    // ===== 背景裝飾曲線 ====
    .background_img{
        position: relative;
        // z-index: -9998;
        .curve1{
            position: absolute;
            right: 0px;
            top: 0px;
             @include r1100{
                width: 40vw;
            }
        }
        
        // ===== 背景裝飾曲線2 ====
        .curve3{
            position: absolute;
            right: 0px;
            top: -400px;
            @include r1200{
                right: -40px;
                width: 20vw;
            }
            @include r1100{
            }
            @include r800(){
                top: -350px;
            }
            @include r600(){
                right: -25px;
                top: -300px;
            }
            @include r600(){
                right: -25px;
                top: -280px;
            }
        }
        .curve4{
            position: absolute;
            left: 0px;
            bottom: -140px;
            @include r1100{
                width: 36vw;
            }
            @include r900(){
                bottom: -30px;
            }
        }
    }// background_img

 
    // ===== 介紹 ====
    .introduce {
        position: relative;
        overflow-y: visible;
        .container{
            width: 1200px;
            margin: 10% auto;
            position: relative;
            @include r1200(){
                width: auto;
                margin: 10% 10%;
            }
            @include r1000(){
                margin: 12% 10%;
            }
            @include r800(){
                margin: 14% 10% 18% 10%;
            }
            .introduce2{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 9%;
            }
    
            li:first-child{
                width: 340px;
                margin-right: 16px;
                @include r1200{
                    width: 24vw;
                }
                @include r1000{
                    width: 100%;
                }
            }
            li:last-child{
                width: 200px;
                box-sizing: border-box;
                @include r1200{
                    width: 13.5vw;
                }
                @include r1000{
                    width: auto;
                    padding: 0px 0 0 20px;
                }
                @include r800{
                    padding: 0px 0 0 10px;
                }
                @include r600{
                    padding: 0px 0 0 6px;
                }
            }
            ul{
                display: flex;
                align-items: end;
                flex-wrap: wrap;
                
                @include r1000(){
                    width: 36vw;
                    align-items: start;
                    display: block;
                }
            }
            .introduce1{
                justify-content: start;
                @include m(){
                    // top: 10px;
                }
            }
            h1{ // TAIWAN  TEA
                font-size: 116px;
                color: $color1;
                text-align: left;
                position: absolute;
                right: 0;
                top: 0px;
                margin: 0;
                @include r1200(){
                    width: 32vw;
                    font-size: 8vw;
                    right: 9%;
                    line-height: 1.2;
                }
                @include m(){
                    font-weight: 700;
                }
            }
            img{
                border-radius: 0 20% 0 20%;
                width: 100%;
            }
            h2{
                color: $color1;

            }
            p{
                color: $black;
                @include m(){
                    // width: 136px;
                }
            }
        } // container
        .text_move_t{
            position: absolute;
            top: 64%;
            color:rgba( 0, 0, 0, 0);
            opacity: .4;
            animation: text_move_t 5s linear infinite;
            @include r1100{
                width: 50vw;
                top: 44%;
            }
            @include m(){
                animation: text_move_tm 4s linear infinite;
            }
            @keyframes text_move_t{
                0%{
                    left: -20%;
                }
                100%{
                    left: 120%;
                }
            }
            @keyframes text_move_tm{
                0%{
                    left: -100%;
                }
                100%{
                    left: 120%;
                }
            }
        }
        .curve2{
            position: absolute;
            left: 0px;
            bottom: -28vw;
            width: auto;
            z-index: -9998;
            @include r1200{
                width: 12vw;
            }
        }
    } // introduce

    // ===== 背景色圓弧 =====
    .background_color{
        background-color: $color1;
        position: absolute;
        height: 540px;
        width: 100%;
        top: 65%;
        z-index: -9999;
        // border-radius: 50% 50% 0 0/50% 50%;
        border-radius: 50% 50% 0 0;
        @include r1100{
            top: 64%;
        }
        @include r1000{
            top: 68%;
        }
         @include r900{
            top: 58%;
            border-radius: 50% 50% 0 0/40% 40%;
        }
        @include r900{
            top: 59.5%;
            // border-radius: 50% 50% 0 0/40% 40%;
        }
        @include r600{
            top: 60.5%;
            border-radius: 50% 50% 0 0/30% 30%;
        }
         @include m{
            top: 60.2%;
            border-radius: 50% 50% 0 0/20% 20%;
        }
    } // background_color
    


    // ===== TOP6商品 =====
    .top_products_all{
        width: 1240px;
        margin: 14% auto 2%;
        // padding: 0px 0 180px 0;
        @include r1200(){
            width: auto;
            margin: 10% 40px;
        }
        @include r900{
            margin: 10% 8%;
        }
        @include m{
            margin: 10% 6%;
        }
        .swiper {
            width: 100%;
            padding-top: 80px;
            padding-bottom: 200px;
            --swiper-pagination-bullet-inactive-color: #8C8C8C;
            --swiper-pagination-color: #FFC107;
            --swiper-pagination-bullet-opacity: .5;
            margin: 0 auto;
            @include r900{
                overflow: hidden;
            }
        }
        
        .swiper-slide {
            background-position: center;
            position: relative;
            // overflow:visible;
        }
        
        .swiper-slide img {
            display: block;
            width: 100%;
            scale: 1.05;
            transition: .2s all ease;
            // filter: grayscale(30%) blur(2px);
            filter: grayscale(20%) blur(2px) brightness(105%);
            @include r1000{
               filter: grayscale(20%) blur(1.5px); 
            }
            @include m{
               filter: grayscale(20%) blur(.8px); 
            }
        }
        .swiper-slide .cup_shadow{
            position: absolute;
            z-index: -99;  
            left: 14%;
            opacity: 0;
            transition: .8s all ease;
        }
        .top1 .cup_shadow{
            bottom: -29%;
            width: 70%;
            height: 20%;
        }
        .top2 .cup_shadow{
            left: 14.5%;
            bottom: -17%;
            width: 70%;
            height: 24%;
        }
        .top3 .cup_shadow{
            left: 14.5%;
            bottom: -28%;
            width: 70%;
            height: 26%;
        }
        .top4 .cup_shadow{
            bottom: -4%;
            width: 78%;
            height: 22%;
        }
        .top5 .cup_shadow{
            left: 8%;
            bottom: -18%;
            width: 80%;
            height: 20%;
        }
        .top6 .cup_shadow{
            left: 22%;
            bottom: -18%;
            width: 55%;
            height: 20%;
        }
        h1{ // TOP 6 熱銷飲品
            color: $color1;  
            margin-bottom: 6%;
            @include r1100{
                margin-bottom: 4%;
            }
        }
        .top_product_depiction{
            position: absolute;
            top: 130%;
        }
        h2{

            text-align: center;
            margin: 4px auto;
            font-weight: 400;
            opacity: 0;
            transition: .7s all ease;

        }
        p{
            text-align: center;
            margin: 0px auto;
            font-weight: 300;
            // font-size: 15px;
            opacity: 0;
            transition: .7s all ease;
            @include r900(){
                width: 82%;
            }
             @include r700(){
                width: auto;
            }
        }
        
        .swiper-button-next::after,
        .swiper-button-prev::after {
            --swiper-navigation-size: 26px;
            color: #78BEC8;
        }
        .swiper-slide-active img{
            scale: 1.45;
            filter: grayscale(0%) blur(0px) brightness(105%);
            transition: .8s all ease;
            &:hover{
                transform: translate(0px , -10px); 
                @include r900{
                    transform: translate(0px , 0px); 
                }
            }
        }
        .swiper-slide-active h2 ,.swiper-slide-active p{
            opacity: 1;
        }
        .swiper-slide-active .cup_shadow{
            opacity: .7;
        }
        .swiper-slide-active img:hover~.cup_shadow{
            scale: 1.6;
            opacity: .45;
            transform: translate(0px , 5%); 
        }
    } // top_products_all


    // ===== 最新消息 =====
    .news{
         background-color: $color1;
         overflow: hidden;
        padding-bottom: 40px;
        .container{
            width: 1200px;
            margin: 10% auto;
            @include r1200(){
                width: auto;
                margin: 0 10%;
            }
        }
        // color: $white;
        ul{
            display: flex;
            justify-content: space-between;
            margin: 40px auto;
            @include r900{
                flex-wrap: wrap;
            }
        }
        li{
            width: 280px;
            @include r1200(){
                width: 18vw;
                // margin: 0 10px;
            }
            @include r900{
                width: 34vw;
                margin-bottom: 5%;
            }
        }
        li div{
            width: auto;
            overflow: hidden;
            transition: .8s all ease;
            &:hover{
                border-radius: 20%;
            }
            @include r1200(){
    
            }
            @include m(){
                border-radius: 0 24px 0 24px; 
            }
        }
        img{
               width: 100%;
               height: 100%;
               transition: .8s all ease;
               border-radius: 0 20% 0 20%;
               &:hover{
                transform: translate(0px , -10px); 
                scale: 1.2;
                filter: brightness(70%);
               }
        }

        h2{
            // text-align: center;
            padding: 0 10px;
            color: $white;
            &:hover{
                opacity: .7;
            }
            @include r500(){
                padding: 0 4px;
                font-size: 15px;
            }
        }
        p{
            padding: 0 10px;
            @include r500(){
                padding: 0 4px;
            }
        }
        a{
            text-decoration: none;
            color: $white;
            &:hover{
                 color: $yellow;
            }
        }
        button{
            text-align: center;
            cursor: pointer;
            transition: .2s all ease;
            display: block;
            width: 120px;
            height: 30px;
            margin: 7% auto;
            border: 1px solid $white;
            background-color: rgba( 0, 0, 0, 0);
            border-radius: 15px;
            color: $white;
            font-size: 14px;
            animation: ice 3s ease-in-out backwards infinite;
             &:hover {
                color: $yellow;
                // border-color: $yellow;
                border: 2px solid $yellow;
            }
        }

    } // news

    @keyframes blur{
        0%{
            filter: blur(1vw);
            opacity: 0;
        }
        100%{
            opacity: 1;
            filter: blur(0vw);
        }
    }

            
            
        } // index_wrapper
       
        
.page-home header{
    background-color: rgba(120, 190, 200,0);
}

.header_bgc{
    background-color: rgba(120, 190, 200,1) !important;
}

// 回到上面按鈕
.back_top {
    @include btn_back_top();
}
.back_top_on{
    opacity: .8;
}

.back_top_hide {
    opacity: 0;
    transform: translateY(150%);
    transition: all .3s linear;
    pointer-events: none;
}
        
