.info-body{
  margin:150px auto;
  width: 1200px;
  
}
/* 標題大小 */
.info-title{
  @include font_h1();
  color: $color2;
  text-align: center;
  margin-block: 60px;
}
.info-subtitle{
  @include font_h2();
  color: $color2;
  font-weight: 400;
  padding-left: 20px;
}
/* slider中間的間隙 */
.info-spacing{
  margin-top: 120px;
}
/* slider寬度 */
.slider-section{
  width: 95vw;
  max-width: 1200px;
  position: relative;
}
.carousel{
  display: flex;
  flex-direction: row;
  /* carousel基礎設置 */
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* 左右按鈕 */
.fa-angle-right,.fa-angle-left{
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);

}
.fa-angle-left:hover,.fa-angle-right:hover{
background-color: #6996A0;
color: white;
}
.fa-angle-left{
  left: -23px;

}
.fa-angle-right{
  right: -23px;
}
/* 卡片大小設定 */
.article{
  margin-left: 40px;

}
.article:first-child{
  margin-left: 0;
}
.info-article-wrapper{
  width: 370px;
  height: 435px;
  border: 1px solid #6996A0;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;


  /* 圖片及文字置中 */
  text-align: center; 
  padding-top: 24px;
  

}
.info-article-wrapper figure {
  /* 移除圖片默認邊距 */
  margin: 0;
  /* 圖片及文字置中 */
  display: inline-block;
  width: 320px;
  height: 240px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  
  overflow: hidden;



}
/* 照片大小設定 */
.info-article-wrapper figure img{
  width: 370px;
  height: 240px;
  max-width: 100%;
  object-fit: cover;
  object-position:bottom;
 

}
/* 標籤設定 */
.info-article-tag{
  @include tag_S();

  // /* 標籤文字垂直置中 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  border-radius: 24px;
  /* 與圖片的空白 */
  margin-top: 12px;

}
/* 文字位置設定 */
.info-article-body{
  text-align: left;
  padding-inline: 25px;
}
.info-article-body h2{
  @include font_h2();
}
.info-article-body p{
  @include font_t1();
}
/* READ MORE展開文字 */
.more-info{
  @include font_t2();
  color:$color2;
  text-align: right;
  margin-right: 25px;
  margin-top: 5px;
}


/* 響應式布局 */


@media screen and (max-width:430px){

  .info-body{
    width: 390px;
  }
  .slider-section,.second-slider-section{
    max-width: 400px;
    min-width: 380px;
  }

}
