.page-products .space{
    height: 81px;
    background-color: $color1;
    @include m(){
      height: 64px;
    }
}
.products_wrapper{
  overflow: hidden;
  position: relative;
  @include m(){
    font-weight: 300;
  }
  // 新增成功添加購物車
  .opacity{
    
      color: #fff;
      font-size: 16px;
      text-align: center;
      padding: 20px;
      margin: auto;
      border-radius: 10px;
      background-color: $yellow;
      position: fixed;
      z-index: 3;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      animation: fadeout linear 1.5s;
    }
    @keyframes fadeout {
      0%{
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  // ------------------------
  img{
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
  }

  

  // ===== 背景裝飾曲線 ====
  .background_img{
    .curve1{
      position: absolute;
      right: 0px;
      top: 320px;
      z-index: -999;
      @include r1100{
        width: 30vw;
        top: 30vw;
      }
      @include m(){
        display: none;
      }
    }
    .curve1m{
      display: none;
      @include m(){
        display: block;
        // top: 190px;
      }
    }
    .bg_circle1{
      position: absolute;
      right: 130px;
      top: 530px;
      background-color: $color1;
      width: 32px;
      height: 32px;
      border-radius: 50%;
        //  animation: circle4 4s ease-in-out backwards infinite ;
      @include m(){
        right: 30px;
        top: 250px;
        width: 10px;
        height: 10px;
      }
    }
    @keyframes circle4{
          0%{
            top:500px;
          }
          50%{
            top:560px;
            right: 120px;
          }
          100%{
            top:500px;
          }
    }

    .curve2{
      position: absolute;
      left: 0px;
      top: 1560px;
      z-index: -999;
      @include r1200{
        width: 10vw;
        top: 36%;
      }
      @include r1000{
        width: 9vw;
        top: 38%;
      }
      @include r900{
        top: 44%;
      }
      @include r500{
        width: 10vw;
        top: 46%;
      }
      @include m(){
        width: 60px;
        top: 1930px;
      }
    }
  } // background_img
 

// ===== banner ====
  .banner{
    color:$color1;
    background-color: $color1;
    overflow: hidden;
    height: calc(550px - 82px);
    // background-image: url(@/assets/image/products/wave_bgi-01.png);
    // background-image: url(@/assets/image/products/wave_bgi0.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50% 50%;
    width: 100%;
    position: relative;
    z-index: -997;
    @include r1000{
      height: 45vw;
    }
    @include r600{
      height: 55vw;
    }
    @include m(){
      //  border-radius:0 0 80% 80%  /100% 100% ;
      // height: 185px;
      // margin: 0 auto;
    }

    .banner_title{
      // border: 1px solid blue;
      width: 700px;
      margin: 120px auto;
      @include r1200{
        width: auto;
        margin: 10% 20%;
      }
      @include r900{
        padding-right: 20vw;
        margin: 8% 18%;
      }
      @include r600{
        padding-right: 16vw;
        margin: 12% 18%;
      }
      .boisson_menu_text{
        width: 430px;
        opacity: 0;
       animation: beverage 1s ease-out  forwards 1;
        // filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
        @include r900{
          width: 100%;
        }
        @include m(){
          // -webkit-text-stroke:1px $white;

        }
      }
      p{
        @include font_h2();
        margin: 8px 0;
        color: $white;
        opacity: 0;
       animation: beverage 1s ease-out .5s forwards 1;
        @include r700{
          @include font_t1();
        }
        @include r500{
          font-size: 14px;
        }
        @include m(){
          font-size: 12px;
          font-weight: 300;
          margin: 0;
        }
      }
      // 白線
      p img{
        padding-bottom: 8px;
        padding-left: 10px;
        width: 220px;
        @include r900(){
          display: none;
        }
      }
    } //banner_title
    .wave_bgi{
      width: 5000px;
      position: absolute;
      z-index: -996;
      @include r1000{
        width: 300%;
      }
      @include m(){
        width: 2000px;
        animation-duration: 4s;
      }
    }
    .wave_bgi1{
      bottom: -250px;
      opacity: .6;
      animation: wave_move1 9s linear infinite;
      @include r1000{
        bottom: -26%;
      }
      @include m(){
        bottom: -90px;
      }
    }
    .wave_bgi2{
      bottom: -140px;
      opacity: .5;
      animation: wave_move2 9s linear infinite;
      @include r1000{
        bottom: -6%;
      }
      @include m(){
        bottom: -40px;
      }
    }
    .wave_bgi3{
      bottom: -60px;
      opacity: .3;
      animation: wave_move1 9s 1s linear infinite;
      @include r1000{
        bottom: 12%;
      }
      @include m(){
        bottom: 0px;
      }
    }
    .wave_bgi4{
      bottom: 30px;
      opacity: .2;
      animation: wave_move2 9s 1s linear infinite;
      @include r1000{
        bottom: 30%;
      }
      @include m(){
        bottom: 35px;
      }
    }
    
    @keyframes wave_move1{
      0%{
        left: -50%;
      }
      100%{
        left: 0%;
      }
    }
    @keyframes wave_move2{
      0%{
        right: -50%;
      }
      100%{
        right: -0%;
      }
    }
  } // banner

  
  // ===== 圓形動畫、飲料照片 ====
  .top{
    // border: 1px solid red;
    position: relative;
    width: 1200px;
    // height: 600px;
    top: -460px;
    margin: 0 auto;
    @include r1200{
      width: auto;
      margin: 0 6%;
    }
    @include m(){
      // top: 0px;
      margin-bottom: 180px;
    }
    // 去背飲料杯
    img{
      position: absolute;
      right: 14%;
      // top: 50px;
      bottom: -550px;
      width: 240px;
      opacity: 0;
       animation: beverage .8s ease-out .3s forwards 1;
      @include r1100{
        width: 22vw;
      }
      @include r700{
        bottom: -530px;
      }
      @include r600{
        bottom: -516px;
      }
      @include m(){
        // right: 18%;
        // top: -100px;
        // width: 80px;
      }
    }  
    .circle1{
      position: absolute;
      background-color: $color1;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      left: 40px;
      bottom: -480px;
      animation: circle 4s ease-in-out backwards infinite ;
      @include r1200{
        width: 10vw;
        height: 10vw;
        left: 0vw;
        bottom: -460px;
      }
      @include r600(){
        bottom: -450px;
      }
    }
    .circle2{
      position: absolute;
      background-color: $color1;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      left: 174px;
      bottom: -480px;
      animation: circle 4s .5s ease-in-out backwards infinite;
      @include r1200{
        width: 2vw;
        height: 2vw;
        left: 14vw;
        bottom: -460px;
      }
      @include r600(){
        width: 2.2vw;
        height: 2.2vw;
        left: 12.5vw;
        bottom: -455px;
      }
    }
      .circle3{
      position: absolute;
      border: 1px solid $white;
      width: 196px;
      height:196px;
      border-radius: 50%;
      right: 10%;
      bottom: -310px;
      animation: circle 4s ease-in-out 1s backwards infinite;
      @include r1100{
        width: 16vw;
        height: 16vw;
      }
      @include r1100{
        bottom: -330px;
      }
      @include r900{
        bottom: -350px;
      }
      @include r800{
        bottom: -370px;
      }
      @include r600{
        bottom: -390px;
      }
      @include r500{
        bottom: -405px;
      }
        @include m(){
        // width: 58px;
        // height: 58px;
        // right: 46px;
        bottom: -435px;
      }
    }
    @keyframes circle {
      0%{
        scale:1;
      }
      50%{ 
        scale:1.3;
      }
      100%{
        scale:1;
      }
    }


    
  } // top

// ===== 產品 ====
  .product{
    width: 1200px;
    margin: 160px auto;
    position: relative;
    // border: 1px solid red;
    @include r1200{
      width: auto;
      margin: 10% 8%;
    }
    @include r900{
      margin: 10% 12%;
    }
    @include m(){
      width: 300px;
      margin: 70px auto;
    }
    // ===== TAIWAN TEA字 ====
  .background_text{
    // border: 1px solid red;
    color: $color1;
    font-size: 4vw;
    font-weight: 600;
    position: absolute;
    rotate: 90deg;
    transform-origin: top left;
    right: -59vw;
    top: 0px;
    @include r1200{
      right: -5vw;
      font-size: 46px;
      display: none;
    }
    @include r600{
      display: inline;
      right: -660px;
      font-size: 32px;
    }
    @include m(){
      display: block;
      left: 0px;
      rotate: 0deg;
      width: 300px;
      top: -118px;
    }
    span:nth-child(2){
      @include font_t1();
      padding-left: 16px;
      @include r600{
        font-weight: 300;
      }
      @include m(){
        padding-left: 0;
        display: block;
      }
    }
  } //background_text

    ul{
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      width: 100%;
    }
    
    .introduce{
      margin-top: 2px;
      margin-bottom: 28px;
      @include m(){
        margin-bottom: 0px;
      }
      h1 img{
        margin-right: 8px;
        @include r1000{
          width: 30px;
        }
         @include r600(){
          width: 24px;
         }
      }
      h1{
        margin: 0px 10px 0px 0;
        display: inline-block;
        font-size: 30px;
        @include r1000{
          font-size: 26px;
        }
        @include r600(){
        font-size: 20px;
        line-height: 2;
        }
      }
      p{
        color: $color2;
        display: inline-block;
        @include r600{
          font-size: 15px;
        }
      }
    }
    
    ol{
      display: flex;
      font-size: 20px;
      flex-wrap: wrap;
      @include r600{
        display: block;
      }
      @include m(){
        font-size: 16px;
      }
    }
    ol li{
      margin: 0 20px;
      height: 358px;
      @include r1200{
        margin: 0 1vw;
        height: 340px;
        margin: 0 .5vw;
      }
      @include r900{
        height: 320px;
      }
      @include m(){
        padding-right: 6px;
        margin: 0 auto;
      }
    }
    ol .left_list{
      padding-right: 2vw;
      border-right: 1px solid $color2;
      @include r1200{
        margin-right: 1.2vw;
      }
      @include r600(){
        height: auto;
        border-right: 0;
        border-bottom: 1px solid $color2;
        padding-bottom: 8px;
        margin: 0;
        padding: 0;
      }
    }
    .size{
      color:$color1;
      padding-left: 12px;
      margin-bottom: 40px;
      @include r1200{
        margin-bottom: 3vw;
      }
      @include r600(){
        padding-left: 8px;
        margin-top: 20px;
        margin-bottom: 24px;
        font-weight: 500;
      }
    }
    .row{
      position: relative;
      margin-bottom: 40px;
      @include r900(){
        margin-bottom: 30px;
      }
      @include m{
        margin-bottom: 20px;
      }
    }
    ol span{
      @include r1100{
        font-size: 18px;
      }
      @include m{
        font-size: 16px;
      }
    }
    .product_name{
      display: inline-block;
      width: 152px;
      @include r1200{
          width: 120px;
      }
      @include r1000{
          width: 100px;
      }
      @include r900{
          width: 120px;
      }
      @include r700{
          width: 100px;
      }
      @include r600{
          width: 132px;
      }
    }
    .product_price{
      display: inline-block;
      width: 68px;
      @include r1200{
          width: 62px;
      }
      @include r1100{
          width: 52px;
      }
      @include r900{
          width: 54px;
      }
      @include r700{
          width: 48px;
      }
      @include r600{
          width: 58px;
      }
      @include m(){
        // width: 58px;
      }
    }

    .add_cart{
      @include btn_product_cart();
    }
    .tag{
      @include tag_P();
      position: absolute;
      top: -24px;
      left: -2px;
      display: none;
      @include m(){
        top: -16px;
        left: -2px;
      }
      i{
        width: 22px;
        @include m(){}
          padding: 0;
          width: auto;
      }
    }
  } //product

  // 介紹文字 改到右邊
  .tea, .milk_tea{
    ul{
      justify-content: center;
      width: auto;
      margin: 0 auto;
      @include r1200{
        height: 420px;
      }
      
      @include r900{
         justify-content: start;
         width: 580px;
        height: 580px;
      }
      @include r700{
        height: auto;
        width: 530px;
      }
      @include r600{
        width: 320px;
      }

      li{
        position: relative;
        width: auto;
        @include r1200{
          justify-content: space-between;

        }
        @include r900{
          margin: 0 auto;
        }
      }
    }
    ol li {
      @include r900{
        height: 300px;
      }
      @include r700{
        height: 290px;
      }
      @include r600{
        height: auto;
      }

    }
  
    .product_img{
      @include r1200{
        width: 240px;
      }
      @include r1100{
        width: 210px;
        padding-bottom: 8px;
      }
      @include r1000{
        width: 200px;
      }
      @include r900{
        width: 180px;
      }
      @include r700{
        left: 3vw;
      }
      @include r600{
        width: 130px;
        left: 1vw;
        padding-bottom: 0px;
      }
      @include m(){
        width: 136px;
        left: 2vw;
      }
    }
    .product_img img{
      width: 100%;
    }
  }

  .tea{ 
    .introduce{
      @include r1200{
        position: absolute;
        left: -250px;
        top: -80px;
      }
       @include r1000{
        left: -220px;
        top: -80px;
      }
      @include r900{
        left: 260px;
        top: -200px;
      }
      @include r600{
        left: 150px;
        top: -160px;
      }
      @include m{
        top: -190px;
      }
    }
    .product_img{
      margin-right: 3vw;
      @include r1200{
        margin-right: 2vw;
      }
      @include r900{
        margin: 0;
      }
    }
  }
  .milk_tea{
    .introduce{
      @include r900{
        position: absolute;
        left: 260px;
        top: -200px;
      }
      @include r600{
        left: 150px;
        top: -160px;
      }
      @include m{
        top: -190px;
      }
    }
    .product_img{
      margin-left: 3vw;
      @include r1200{
        margin-left: 2vw;
      }
      @include r900{
        margin: 0;
      }
    }
  }
    // 奶茶換順序
  .milk_tea ul li:nth-child(2){
    @include r900(){
    order:-1;
    }
  }
   .milk_tea ul li ol li:nth-child(1){
    @include r900(){
    order:-2;
    }
  }
  
  // ======= 商品下半部 =======
  .area2{
    background-color: $color1;
    margin-top: 140px;
    overflow: hidden;
    color: $white;
    position: relative;
    @include r1200{
      margin-top: 10%;
    }
    @include m(){
      margin-top: 0px;
    }
    

    // ===== 背景裝飾曲線 ====
    .curve3{
    position: absolute;
    left: 0px;
    top: 720px;
    // z-index: -998;
    @include r1200{
      width: 9vw;
    }
    @include r900{
      top: 34%;
    }
      @include m(){
        width: 60px;
        top: 800px;
      }
    }
    .curve4{
    position: absolute;
    right: 0px;
    bottom: -160px;
    @include r1200{
      width: 24vw;
      bottom: -5%;
    }
    @include r600(){
      width: 160px;
      bottom: -80px;
      }
    }
  
    // ===== 大標題 FRUIT & COFFEE ====
    .title{
      color: $white;
      width: 1200px;
      margin: 0px auto;
      padding: 50px 0;
      @include r1200{
        width: auto;
        margin: 0 9%;
      }
      @include r900{
        padding: 5% 0;
      }
      @include m(){
        width: 320px;
        padding: 20px 0 30px 0;
      }
      h1{
        color: $white;
        font-size: 92px;
        text-align: left;
        line-height: 0.8;
        @include r1200{
          font-size: 8vw;
        }
        @include m(){
          font-size: 34px;
          margin: 10px auto;
        }
      }
      p{
        @include font_h2();
        color:$white;
        @include m(){
          @include font_t2();
        }
      }
    } // title

    .product{
      width: 1140px;
      @include r1200{
      width: auto;
      margin: 10% 8%;
    }
      @include m(){
        width: 320px;
        margin: 0 auto;
        margin-bottom: 60px;
      }
    }
    .rotate_oringe{
      position: absolute;
      right: -160px;
      top: -100px;
      width: 329px;
      animation: oringe 6s linear backwards infinite;
      @include r1200{
        width: 26vw;
        right: -14%;
      }
      @include r1000{
        width: 24vw;
        right: -12%;
        top: -10%;
      }
      @include r700{
        right: -10%;
        top: 2%;
      }
      @include r600(){
        right: 0px;
        top: 100px;
      }
      img{
        width: 100%;
      }
    }
    @keyframes oringe{
      0%{
        transform:rotate(0deg);
      }
      100%{
        transform:rotate(360deg);
      }
    }

    // ===== 產品標題 ====
    .introduce{
      @include m(){
        margin-bottom: 20px;
      }
      h1{color:$white;}
      p{color:$white;}
      text-align:right;
      @include r800(){
        text-align: left;
        width: 80%;
      }
      @include r500{
        width: auto;
      }
    }
  
    ul{
      width: 100%;
      height: 394px;
      outline: 2px solid $white;
      border-radius: 0 100px 0 100px;
      font-size: 20px;
      flex-wrap: wrap;
      padding: 1% 8%;
      box-sizing: border-box;
      @include r1200{
        height: auto;
        border-radius: 0 8vw 0 8vw;
      }
      @include r1000{
        padding: 0 6%;
      }
      @include r600{
        padding: 0;
      }
      @include m(){
        height: 290px;
        font-size: 16px;
        border-radius: 0 36px 0 36px;
        outline: 1px solid $white;
      }
    }
    ul .left_list2{
      width: 720px;
      display: block;
      @include r1200{
        width: 44vw;
        padding: 0;
        display: none;
      }
    }
    li{
       @include r600{
        margin: 0 auto;
      }
      span{
        @include r1100{
          font-size: 18px;
        }
        @include m{
          font-size: 16px;
        }
      }
    }
    .product_name{
      @include r1200{
        width: 140px;
      }
      @include r1100{
        width: 130px;
      }
      @include r600{
        width: 24vw;
      }
      @include r500{
        width: 26vw;
      }
      @include m{
        width: 132px;
      }
    }
    .product_price{
      @include r600{
        width: 14vw;
      }
    }
    .product_img img{
      position: absolute;
      margin: 0;
      @include r1200{
        width: 46vw;
      }
      @include r900{
        width: 40vw;
      }
      @include r600{
        position: static;
        width: 60%;
      }
      @include m(){
       width: 214px;
      }
    }
    // 果汁 、冰沙
    .juice, .smoothies{
      padding-right: 60px;
      @include r1200{
        padding-right: 3vw;
      }
      @include r600(){
        padding: 0;
      }
      ul{
        justify-content: end;
      }
      li{
         @include m(){
          margin: 0 auto;
          }
      }
      .product_img img{
        bottom: 0;
        border-radius: 0 0 0 100px;
        @include r1200{
        border-radius: 0 0 0 8vw;
      }
        @include m(){
          border-radius: 0 0 0 36px;
        }
      }
    }

    li{
      @include m(){
        margin: 0 auto;
      }
    }

    // 咖啡
    .coffee{
      padding-left: 60px;
      @include r1200{
        padding-left: 3vw;
      }
      @include m(){
        padding-left: 0;
      }

      .coffee_bean1{
        position: absolute;
        left: 20px;
        top: 380px;
        animation: coffee_bean1 2s ease-in-out backwards infinite ;
        @include r900{
          width: 4.2%;
          left: 14px;
        }
        @include r600(){
          width: 20px;
          top: 252px;
          left: 30px;
        }
        @include r500(){
          top: 232px;
        }
        @include m{
          top: 208px;
        }
      }
      @keyframes coffee_bean1{
        0%{
          transform: translate(0px , -30%); 
        }
        50%{
          transform: translate(0px , -0px); 
        }
        100%{
          transform: translate(0px , -30%); 
        }
      }

      .coffee_bean2{
        position: absolute;
        left: -20px;
        top: 424px;
        rotate:(85deg);
        animation: coffee_bean2 2s 1s ease-in-out backwards infinite ;
        @include r900{
          width: 4.2%;
          left: -14px;
          top: 412px;
        }
        @include r800{
          left: -10px;
          top: 408px;
        }
        @include r600(){
          left: 16px;
          width: 20px;
          top: 272px;
        }
        @include r500(){
          top: 252px;
        }
        @include m{
          top: 222px;
        }
      }
      @keyframes coffee_bean2{
        0%{
          transform: translateX(0%);
        }
        50%{
          transform: translateX(30%);
        }
        100%{
          transform: translateX(0%);
        }
      }
  
      .coffee_bean3{
        position: absolute;
        left: 40px;
        top: 424px;
        animation: coffee_bean3 2s 0.7s ease-in-out backwards infinite ;
        @include r900{
          width: 4.2%;
          left: 44px;
          top: 412px;
        }
        @include r800{
          left: 38px;
          top: 408px;
        }
        @include r600(){
          width: 20px;
          left: 44px;
          top: 272px;
        }
        @include r500(){
          top: 252px;
        }
        @include m{
          top: 222px;
        }
      }
      @keyframes coffee_bean3{
        0%{
          transform: translateY(0%);
        }
        50%{
          transform: translateY(36%);
        }
        100%{
          transform: translateY(0%);
        }
      }

      .introduce{
        text-align: left;
      }
      .product_img img{
        right: 0px;
        bottom: 0;
        border-radius: 0;
        @include r600(){
          padding-left: 40%;
          border-radius: 0 0 36px 0;
        }
        @include m{
          padding-left: 32%;
        }
      }
      li{
        @include m(){
          padding-left: 0px;
          margin: 0 auto;
          }
      }
    } //coffee
   
    
    .smoothies {
      .ice{
        position: absolute;
        right: 0px;
        bottom: -10px;
        animation: ice 3s  ease-in-out backwards infinite;
        @include r1200{
          width: 5vw;
        }
        @include r800{
          width: 6vw;
        }
        @include r600(){
          width: 7vw;
          right: 16px;
          bottom: 340px;
          // top: 220px;
        }
        @include m{
          bottom: 300px;
        }
        img{
          width: 100%;
        }
      }
      @keyframes ice {
        0%{
          scale:1;
          // opacity: 1;
        }
        50%{ 
          scale:1.2;
          // opacity: .7;
        }
        100%{
          scale:1;
          //  opacity: 1;
        }
      }
    } // smoothies

      .size{
        color: $yellow;
        margin-top: 20px;
      }
      .add_cart{
        color: $color1;
        background-color: $white;
      }
      
    } // .area2

    // === tag開關 ===
    .product{
      .tag_on{
        display: block;
      }
    }
    button{
       padding: 0;
    }
} //.products_wrapper




 