// body{
//   overflow-x: hidden;
// }
.space{
    height: 81px;
    @include m(){
      height: 64px;
    }
}
.products_wrapper{
  @include m(){
    font-weight: 300;
  }
  // position: relative;

  // ===== TAIWAN TEA字 ====
  .background_text{
    color:$color1;
    font-size: 66px;
    font-weight: 600;
    position: absolute;
    rotate:90deg;
    right: -300px;
    top: 1000px;
    span{
      padding-right: 16px;
    }
    @include d1100{
      right: -350px;
      font-size: 46px;
    }
    @include m(){
      left: 40px;
      rotate:0deg;
      font-size: 32px;
      width: 300px;
      top: 298px;
    }
  } //background_text

  .background_text span:nth-child(2){
    @include font_t1();
    @include m(){
      display: block;
      font-weight: 300;
    }
  }

  // ===== 背景裝飾曲線 ====
  .background_img{
    .curve1{
      position: absolute;
      right: 0px;
      top: 320px;
      z-index: -999;
      @include m(){
        display: none;
      }
    }
    .curve1m{
      display: none;
      @include m(){
        display: block;
        top: 190px;
      }
    }
    .bg_circle1{
      position: absolute;
      right: 130px;
      top: 530px;
      background-color: $color1;
      width: 32px;
      height: 32px;
      border-radius: 50%;
        //  animation: circle4 4s ease-in-out backwards infinite ;
      @include m(){
        right: 30px;
        top: 250px;
        width: 10px;
        height: 10px;
      }
    }
    @keyframes circle4{
          0%{
            top:500px;
          }
          50%{
            top:560px;
            right: 120px;
          }
          100%{
            top:500px;
          }
    }

    .curve2{
      position: absolute;
      left: 0px;
      top: 1560px;
      z-index: -999;
      @include m(){
        width: 60px;
        top: 1930px;
      }
    }
  } // background_img
 

// ===== banner ====
  .banner{
    color:$color1;
    background-color: $color1;
    overflow: hidden;
    height: calc(550px - 82px);
    border-radius: 0 0 50% 50%;
    width: 100%;
    @include m(){
      //  border-radius:0 0 80% 80%  /100% 100% ;
      height: 175px;
      margin: 0 auto;
    }

    .container{
      width: 800px;
      margin: 40px auto;
      @include m(){
       width: 230px;
       margin: 10px auto;
      }
      span{
        font-weight: map-get($fontWeight, h1 );
        color:rgba(255,255,255,0);
        -webkit-text-stroke:2px $white;
        font-size: 92px;
        text-align: left;
        line-height: 1.2;
        @include m(){
          -webkit-text-stroke:1px $white;
          font-size: 42px;
        }
      }
      p{
        @include font_h2();
        color: $white;
        @include m(){
          font-size: 12px;
          font-weight: 300;
          margin: 0;
        }
      }
      img{
        @include m(){
          width: 24px;
        }
      }
      p img{
        padding-bottom: 8px;
        padding-left: 10px;
        @include m(){
          display: none;
        }
      }

    }
  } // banner

  
  // ===== 圓形動畫、飲料照片 ====
  .top{
    position: relative;
    width: 1400px;
    margin: 0 auto;
    @include m(){
      margin-bottom: 180px;
    }
    @include d1100(){
      width: auto;
    }
    .circle1{
      position: absolute;
      background-color: $color1;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      left: 100px;
      top:-140px;
      animation: circle 4s ease-in-out backwards infinite ;
      @include m(){
        width: 32px;
        height: 32px;
        left: 38px;
        top: -44px;
      }
    }
    .circle2{
      position: absolute;
      background-color: $color1;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      left: 224px;
      top: -50px;
      animation: circle 4s ease-in-out backwards infinite ;
        @include m(){
        width: 8px;
        height: 8px;
        left: 72px;
        top: -14px;
      }
    }
      .circle3{
      position: absolute;
      border: 1px solid $white;
      width: 196px;
      height:196px;
      border-radius: 50%;
      right: 14%;
      top: -334px;
      animation: circle 4s ease-in-out backwards infinite ;
        @include m(){
        width: 58px;
        height: 58px;
        right: 46px;
        top: -92px;
      }
    }
    @keyframes circle {
      0%{
        scale:1;
        // opacity: 1;
      }
      50%{ 
        scale:1.3;
        // opacity: .7;
      }
      100%{
        scale:1;
        //  opacity: 1;
      }
    }

    img{
      position: absolute;
      right: 20%;
      top: -320px;
      @include m(){
        right: 64px;
        top: -100px;
        width: 64px;
      }
    }  
    
  } // top

// ===== 產品 ====
  .product{
    width: 1200px;
    margin: 160px auto;
    position: relative;
    @include m(){
      width: 300px;
      margin: 70px auto;
    }

    ul{
      display: flex;
      flex-wrap: wrap;
    }
    
    .introduce{
      margin-top: 2px;
      margin-bottom: 28px;
      @include m(){
        margin-bottom: 0px;
      }
      img{
        margin-right: 8px;
         @include m(){
          width: 24px;
         }
      }
      h1{
        margin: 0px 10px 0px 0;
        display: inline-block;
        font-size: 30px;
        @include m(){
        font-size: 20px;
        line-height: 2;
        
        }
      }
      p{
        // font-weight: 300;
        color: $color2;
        display: inline-block;
      }
    }
    
    ol{
      display: flex;
      font-size: 20px;
      flex-wrap: wrap;
      @include m(){
        font-size: 16px;
      }
    }
    ol li{
      margin: 0 20px;
      padding-right: 40px;
      @include m(){
        padding-right: 0px;
        margin: 0 auto;
      }
    }
    ol .left_list{
      border-right: 1px solid $color2;
      height: 358px;
      @include m(){
        border-right: 0;
        height: auto;
        border-bottom: 1px solid $color2;
        padding-bottom: 8px;
      }
    }
    .size{
      color:$color1;
      padding-left: 12px;
      margin-bottom: 40px;
      @include m(){
        padding-left: 8px;
        margin-top: 20px;
        margin-bottom: 24px;
        font-weight: 500;
      }
    }
    .row{
      position: relative;
      margin-bottom: 40px;
      @include m(){
        margin-bottom: 20px;
      }
    }
    .product_name{
      display: inline-block;
      width: 152px;
      @include m(){
        width: 132px;
      }
    }
    .product_price{
      display: inline-block;
      width: 68px;
      @include m(){
        width: 58px;
      }
    }

    .add_cart{
      @include btn_product_cart();
    }
    .tag{
      @include tag_S();
      position:absolute;
      top: -28px;
      left: -6px;
      width: 90px;
      font-size: 18px;
      display: none;
      @include m(){
        top: -14px;
        left: -2px;
        width: 52px;
        height: 20px;
        font-size: 12.5px;
        padding: 0;
      }
      i{
        width: 22px;
        @include m(){}
          padding: 0;
          width: auto;
      }
    }
  } //product

  .tea .introduce, .milk_tea .introduce{
    @include m(){
      position: absolute;
      width: 140px;
      right: 0px;
      top: 4px;
    }
  }

  .milk_tea img, .tea img{
      @include m(){
        width: 136px;
      }
    }
  .milk_tea ul li:nth-child(2){
    @include m(){
    order:-1;
    }
  }

   .milk_tea ul li ol li:nth-child(1){
    @include m(){
    order:-2;
    }
  }

  .tea{ 
    img{
      margin-right: 50px;
    }
      .no1 .tag, .no6 .tag{
        display: block;
      }
  }
  .milk_tea{
      .no1 .tag, .no6 .tag{
        display: block;
      }
  }
  
  // ===== 商品下半部 ====
  .area2{
    background-color: $color1;
    margin-top: 140px;
    overflow: hidden;
    color: $white;
    position: relative;
    @include m(){
      margin-top: 0px;
    }

    // ===== 背景裝飾曲線 ====
    .curve3{
    position: absolute;
    left: 0px;
    top: 720px;
    // z-index: -998;
      @include m(){
        width: 60px;
        top: 800px;
      }
    }
    .curve4{
    position: absolute;
    right: 0px;
    bottom: -160px;
    // z-index: -999;
      @include m(){
      width: 160px;
      bottom: -80px;
      // top: 200px;
      }
    }
  
    // ===== 大標題 ====
    .title{
      color: $white;
      width: 1200px;
      margin: 0px auto;
      padding: 50px 0;
      @include m(){
        width: 320px;
        padding: 20px 0 30px 0;
      }
      h1{
        color: $white;
        font-size: 92px;
        text-align: left;
        line-height: 0.8;
        @include m(){
          font-size: 34px;
          margin: 10px auto;
        }
      }
      p{
        @include font_h2();
        color:$white;
        @include m(){
          @include font_t2();
        }
      }
    }
    
    .rotate_oringe{
      position: absolute;
      right: -160px;
      top: -100px;
      width: 329px;
      animation: oringe 6s linear backwards infinite;
      @include m(){
        width: 100px;
        right: 0px;
        top: 100px;
      }
      img{
        width: 100%;
        @include m(){
         width: 100px;
        }
      }
    }
    @keyframes oringe{
      0%{
        transform:rotate(0deg);
      }
      100%{
        transform:rotate(360deg);
      }
    }

    .product{
      width: 1140px;
      // margin: 140px auto;
      // position: relative;
      @include m(){
        width: 320px;
        margin: 0 auto;
        margin-bottom: 60px;
    
      }
    }
    .juice, .smoothies{
      padding-right: 60px;
      @include m(){
        padding: 0;
      }
    }

    // ===== 產品標題 ====
    .introduce{
      @include m(){
        margin-bottom: 20px;
      }
      h1{color:$white;}
      // ion-icon{color:$white;}
      p{color:$white;}
      text-align:right;
      @include m(){
        text-align: left;
      }
    }
  
    ul{
      width: 100%;
      height: 394px;
      outline: 2px solid $white;
      border-radius: 0 100px 0 100px;
      font-size: 20px;
      flex-wrap: wrap;
      @include m(){
        height: 290px;
        font-size: 16px;
        border-radius: 0 36px 0 36px;
        outline: 1px solid $white;
      }
    }
    ul .left_list2{
      width: 720px;
      // height: 1200px;
      display: block;
      @include m(){
        display: none;
      }
    }
    .product_img img{
      position: absolute;
      margin: 0;
      @include m(){
        width: 214px;
       border-radius: 0 0 0 36px;
       position: static;
      }
    }
    .juice .product_img img, .smoothies .product_img img{
      top: -25px;
      // left: -1px;
      border-radius: 0 0 0 100px;
      @include m(){
        border-radius: 0 0 0 36px;
      }
    }
    li{
      @include m(){
        margin: 0 auto;
      }
    }

    .coffee{
      padding-left: 60px;
      @include m(){
        padding-left: 0;
      }

      .coffee_bean1{
      position: absolute;
      left: 20px;
      top: 380px;
      animation: coffee_bean1 2s ease-in-out backwards infinite ;
      @include m(){
        left: 20px;
        width: 20px;
        animation: coffee_bean1m 2s ease-in-out backwards infinite ;
      }
      }
      @keyframes coffee_bean1{
        0%{
          top:390px;
        }
        50%{
          top:380px;
        }
        100%{
          top:390px;
        }
      }
      @keyframes coffee_bean1m{
        0%{
          top: 230px;
        }
        50%{
          top: 224px;
        }
        100%{
          top: 230px;
        }
      }

      .coffee_bean2{
      position: absolute;
      left: -20px;
      top: 424px;
      rotate:(85deg);
      animation: coffee_bean2 2s 1s ease-in-out backwards infinite ;
        @include m(){
          left: 6px;
          width: 20px;
          animation: coffee_bean2m 2s 1s ease-in-out backwards infinite ;
      }
      }
      @keyframes coffee_bean2{
        0%{
          top: 434px;
        }
        50%{
          top: 424px;
        }
        100%{
          top: 434px;
        }
      }
      @keyframes coffee_bean2m{
        0%{
          top: 250px;
        }
        50%{
          top: 244px;
        }
        100%{
          top: 250px;
        }
      }
      .coffee_bean3{
      position: absolute;
      left: 40px;
      top: 420px;
      rotate:(20deg);
      animation: coffee_bean3 2s 0.7s ease-in-out backwards infinite ;
        @include m(){
          left: 30px;
          width: 20px;
          animation: coffee_bean3m 2s .7s ease-in-out backwards infinite ;
      }
      }
      @keyframes coffee_bean3{
        0%{
          top: 430px;
        }
        50%{
          top: 420px;
        }
        100%{
          top: 430px;
        }
      }
      @keyframes coffee_bean3m{
        0%{
          top: 250px;
        }
        50%{
          top: 244px;
        }
        100%{
          top: 250px;
        }
      }

      .introduce{
        text-align: left;
      }
      .product_img img{
        right: 0px;
        top: 22px;
        border-radius: 0;
        @include m(){
          padding-left: 104px;
          border-radius: 0 0 36px 0;
        }
      }
      li{
        padding-left: 120px;
        @include m(){
          padding-left: 0px;
          margin: 0 auto;
          }
      }
    } //coffee
  
   
    
    .smoothies {
      .ice{
        position: absolute;
        right: 0px;
        bottom: -10px;
        animation: ice 3s  ease-in-out backwards infinite ;
        @include m(){
          width: 40px;
          right: 16px;
          bottom: auto;
          top: 220px;
        }
        img{
          width: 100%;
        }
      }
      @keyframes ice {
      0%{
        scale:1;
        // opacity: 1;
      }
      50%{ 
        scale:1.2;
        // opacity: .7;
      }
      100%{
        scale:1;
        //  opacity: 1;
      }
    }
      .product_img img{
        top: -51px;
      }
    }
    // tag開關
    .no4{
      margin-bottom: 0;
    }
    .size{
      color:$yellow;
      margin-top: 20px;
    }
    .add_cart{
      color: $color1;
      background-color: $white;
    }
    .tag{
      display: block;
    }

  } // .area2


} //.products_wrapper


  


 