.forget{
    width: 1200px;
    margin: 0 auto;
    @include m() {
        width:390px;
    }
}
.forget_content{
    width:600px;
    height:300px;
    background-color: $grey2;
    margin:120px auto 40px;
    border-radius: 40px;
    border: 1px solid white;
    @include m() {
        width:360px;
    }

    form{
        width:400px;
        margin: 0 auto;
        @include m() {
            width:360px;
        }
    }
    
    h1{
        width:140px;
       margin:40px   auto 0;    }
    label{
       width:140px;
       margin: 10px  auto 5px;
       text-align: center;
    }
    input{
        
        @include input_L();
        margin:5px 0;
        @include m() {
            margin-left: 51px;
        }
    }
    button{
        margin: 0 auto;
        @include btn_L();  
        
    }
   
}