.map_container {
    width: 1200px;
    margin: 0 auto;
    @include m() {
        width:390px;
    }

        img{
            display:none;
            @include m() {
                display:block;
                width:390px;
                height:244px;
        
        
            }
        }
   

}
.store_name{
    width:120px;
    display: none;
    @include m() {
        margin:16px  auto 12px;
        display: block;

    }
}
.store_name2{
    @include m() {
       display: none;
    } 
}

.map_box {
    display: flex;
    @include m() {
        margin:0 auto;
        display: block;


    }
}
    

form{
    @include m() {
      text-align: center;
    }
}  



//-----------------台灣地圖
:root {
    --color-gold: rgb(105, 150, 160);
}

svg {
    height: 700px;
    width: 600px;
     @include m() {
       display: none;

    }

}

path {
    stroke: $color2;
    fill: $color1;
    transition: 0.5s;
    cursor: pointer;
    stroke-width: 5px;
}

path:hover {
    fill: $color2;
    transform: translate(-10px, -10px);
}

#svg {
    display: none;
    z-index: 2;
    
}

.map_svg{
    position: relative;

    
    
}

//---------------地圖小標示
.fa-house {
    color: #F5AF00;
    
    
    
    &.map_1 {
        position: absolute;
        top: 63px;
        left: 444px;
        
    }

    &.map_2 {
        position: absolute;
        top: 104px;
        left: 439px;
        
    }

    &.map_3 {
        position: absolute;
        top: 165px;
        left: 460px;
    }

    &.map_4 {
        position: absolute;
        top: 227px;
        left: 300px;
    }

    &.map_5 {
        position: absolute;
        top: 448.8px;
        left: 304px;
    }

    &.map_6 {
        position: absolute;
        top: 88px;
        left: 384px;
    }
}



//-----------------下拉選單
select {
    @include select_L();
}




.store-info {
    width: 250px;
    margin: 20px 10px 0;
    
    p {
        margin: 10px;
    }
    h2{
        margin-left: 10px;
    }
    @include m() {
       margin: 30px  auto 40px;
       

    }
}


.select_box{
    border-bottom: 2px solid black;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    height:250px;
    @include m() {
        height:400px;
        display:block;
        border-bottom: none;
        padding:0;
        margin-bottom: 10px;


    }
}
.iframe_box{
    width:280px;
    height:200px;
    @include m() {
        margin: 40px auto 0;
        height:200px;
        


    }
}
iframe {
    width: 280px;
    height: 200px;
    padding-bottom: 10px;
    margin-top: 20px;
   
}
.short {
    width: 200px;
    margin-left: 12px;
    border-color: $color1;
    @include m() {
        width:220px;
        


    }
}

// }