// ----- button -----
//共同屬性
@mixin btn_defult(){
    color: $white;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: .3s all ease;
    }

// 註冊頁
@mixin btn_L(){
    @include btn_defult();
    font-size: map-get($title_size, h2);
    font-weight: map-get($fontWeight, h2);
    width: 400px;
    height: 60px;
    letter-spacing:.1rem;
    background-color: $color1;
    border-radius: 12px;
    margin: 20px auto;
    display: block;
    
    &:hover {
        background-color: darken($color1, 15);
     }

    @include m(){
        font-size: map-get($title_size, t1);
        font-weight: map-get($fontWeight, h2 );
        width: 256px;
        height: 40px;
        border-radius: 8px;
    }
}

//寬度太多種要手動改
@mixin btn_M(){
    @include btn_defult();
    font-size: map-get($title_size, h2);
    font-weight: map-get($fontWeight, t1);
    width: 104px;
    height: 40px;
    letter-spacing: $letterSpacing;
    background-color: $color1;
    border-radius: 8px;
    // margin: 10px auto;
    
    &:hover {
        background-color: darken($color1, 15);
     }
}
// 購物車 黃色
@mixin btn_yellow(){
    @include btn_defult();
    font-size: map-get($title_size, h2);
    font-weight: map-get($fontWeight, h2);
    width: 366px;
    height: 60px;
    letter-spacing:.1rem;
    background-color: $yellow;
    border-radius: 12px;
    margin: 20px auto;
    display: block;
    
    &:hover {
        background-color: map-get($color_hover, yellow);
     }
    @include m(){
        @include btn_defult();
        width: 324px;
        height: 44px;
        font-size: 18px;
        font-weight: map-get($fontWeight, t1 );
        border-radius: 8px;
    }
}

// 購物車+-按鈕
@mixin btn_amount(){
      @include btn_defult();
            font-size: 18px;
            width: 24px;
            height: 24px;
            color:$color2;
            background-color: $white;
            border: 1px solid $color2;
            border-radius: 6px;
            margin: 4px 8px 10px;

            transition: .1s all ease;
            &:hover {
            background-color: lighten($color1,10);
            color: darken($color2, 15);
            border-color: darken($color2, 15);
     }
}

// product page cart
@mixin btn_product_cart(){
    @include btn_defult();
    width: 36px;
    height: 36px;
    color: $white;
    background-color: $color1;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 2.3;
    transition: .2s all ease;
    &:hover{
        color: $white;
        background-color: $yellow;
    }
     @include r1100(){
        width: 34px;
        height: 34px;
        padding: 0;
        font-size: 15px;
    }
    @include r700(){
        width: 32px;
        height: 32px;
        padding: 0;
        font-size: 14px;
    }
      
}

// 回到上面按鈕
@mixin btn_back_top(){
    z-index: 998;
    position: fixed;
    bottom: 15%;
    right: 5vw;
    width: 36px;
    height: 36px;
    border: #ffffff solid 1px;
    background-color: $color1;
    border-radius: 30px;
    color: $white;
    text-align: center;
    padding: 0;
    opacity: 0;
    transform: translateY(0%);
    cursor: pointer;
    transition: all .3s linear;
    &:hover{
        background-color: $yellow;
        scale:1.1;
    }
    @include r1100{
        width: 3vw;
        height: 3vw;
        font-size: 13;
    }
        @include r900{
        width: 25px;
        height: 25px;
        font-size: 11;
    }
}

// ----- 後台按鈕 -----

@mixin btn_bs_M(){
    @include btn_defult();
    font-size: map-get($title_size, h2);
    font-weight: map-get($fontWeight, t1);
    width: 200px;
    height: 40px;
    letter-spacing: .1rem;
    background-color: $color2;
    border-radius: 4px;
    // margin: 10px auto;
    // display: block;
    
    &:hover {
        background-color: darken($color2, 10);
     }
}

@mixin btn_bs_S(){
    @include btn_defult();
    font-size: map-get($title_size, t2);
    font-weight: map-get($fontWeight, t2);
    width: 98px;
    height: 28px;
    letter-spacing: $letterSpacing;
    background-color: $color2;
    border-radius: 4px;
    // margin: 10px auto;
    
    &:hover {
        background-color: darken($color2, 10);
     }
}



