// ----- 字體 -----
@mixin font_h1($mh:30, $mw:0){
    font-size: map-get($title_size, h1);
    font-weight: map-get($fontWeight, h1);
    letter-spacing:.1rem;
    text-align: center;
    color: $color2;
    // line-height:2;
    margin: $mh + px $mw + px;

    @include m(){
        margin: 20px $mw;
        letter-spacing:.07rem;
        font-weight: 600;
    }
}

@mixin font_h2($mh:6, $mw:0){
    font-size: map-get($title_size, h2);
    font-weight: map-get($fontWeight, h2);
    text-align: left;
    letter-spacing:.1rem;
    color: $color2;
    // line-height:2;
    margin: $mh + px $mw + px;
}

// p 大部分內文
@mixin font_t1($mh:0, $mw:0){
    font-size: map-get($title_size, t1);
    font-weight: map-get($fontWeight, t1);
    margin: $mh + px $mw + px;
    // line-height:2;
}

// p 說明小字
@mixin font_t2($mh:0, $mw:0){
    font-size: map-get($title_size, t2);
    font-weight: map-get($fontWeight, t2);
    margin: $mh + px $mw + px;
}

// header font

// footer font



// ----- a ----- 顏色寫()內,其他自己寫
@mixin font_a($color:$color1){
    text-decoration: none;
    color: $color;
    transition: .3s all ease;
    &:hover {
        color: darken($color, 15);
    }
}