/* 預設 */
.info-body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 頁面內容 */
.info-main{
  display: flex;
  flex-direction: column;
}
/* 標題大小 */
.info-title{
  font-size: 24px;
  color: #6996A0;
  text-align: center;
  margin-block: 60px;
}
.info-subtitle{
  font-size: 20px;
  color: #6996A0;
  font-weight: 400;
  padding-left: 20px;
}
/* slider中間的間隙 */
.info-spacing{
  margin-top: 120px;
}
/* slider寬度 */
.slider-section,.second-slider-section{
  max-width: 1200px;
  position: relative;
}
.carousel,.second-carousel{
  display: flex;
  flex-direction: row;
  /* carousel基礎設置 */
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
/* 拖曳效果 */
.carousel.dragging,.second-carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
/* 左右按鈕 */
#left,#right,#left2,#right2{
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);

}
#left:hover,#right:hover,#left2:hover,#right2:hover{
background-color: #6996A0;
color: white;
}
#left,#left2{
  left: -23px;
  display: none;
}
#right,#right2{
  right: -23px;
}
/* 卡片大小設定 */
article{
  margin-left: 40px;

}
article:first-child{
  margin-left: 0;
}
.info-article-wrapper{
  width: 370px;
  height: 435px;
  border: 1px solid #6996A0;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;


  /* 圖片及文字置中 */
  text-align: center; 
  padding-top: 24px;
  

}
.info-article-wrapper figure {
  /* 移除圖片默認邊距 */
  margin: 0;
  /* 圖片及文字置中 */
  display: inline-block;



}
/* 照片大小設定 */
.info-article-wrapper figure img{
  width: 320px;
  height: 240px;
  max-width: 100%;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;

}
/* 標籤設定 */
.info-article-tag{
  width: 80px;
  height: 28px;
  font-size: 14px;
  background-color: #FFC107;
  color: white;
  align-items: center;
  /* 標籤文字垂直置中 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  border-radius: 24px;
  /* 與圖片的空白 */
  margin-top: 12px;

}
/* 文字位置設定 */
.info-article-body{
  text-align: left;
  padding-inline: 25px;
}
.info-article-body h2{
  font-size: 20px;
}
.info-article-body p{
  font-size: 16px;
}
/* READ MORE展開文字 */
.more-info{
  font-size: 14px;
  font-weight: 300;
  color:#6996A0;
  text-align: right;
  margin-right: 25px;
  margin-top: 5px;
}


/* 響應式布局 */
@media screen and (max-width:390px){
  .slider-section,.second-slider-section{
    max-width: 370px;
  }

}
